<!--  Mateus Gustavo Haupt -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <title>Hello</title>
</head>
<body>
    <div class="div-main">
        <h1>Dale Grêmio!</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, messages in messages %}
                    <div class="alert alert-{{category}}">{{message}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="div-card">
            <h1>Criar sócio do grêmio</h1>
            
            
            
            <form action="{{url_for('hello.newUser')}}" method="POST" novalidate> 
                {{ form.hidden_tag() }}
                {{ form.username.label }}
                {{ form.username(class="form-control", placeholder="Nome") }}
                {{ form.submit(class="btn-submit", value="Criar") }}
                <!--
                <div class="div-field">
                    <label for="username">Nome</label>
                    <input type="text" id="username" name="username" required>    
                </div>
                
                <button type="submit">Cadastrar</button>
                -->
            </form>
        </div>
        
        <div class="div-card">
            <h1>Gremistas fiéis</h1>
            <div class="div-main">
                {% for user in users %}
                <div class="div-list">
                    <p>{{ loop.index }} - </p>
                    <form action="{{url_for('hello.editUser', userId=user.id)}}" method="POST" novalidate>
                        
                        {{ form.hidden_tag() }}
                        {{ form.username(class="form-control", placeholder="Nome", value=user.username) }}
                        {{ form.submit(class="btn-submit", value="Atualizar") }}
                    </form>
                    <form action="{{url_for('hello.deleteUser', userId=user.id)}}" method="POST" novalidate>
                        <button type="submit">Remover</button>
                    </form>
                </div>
                    
                {% endfor %}
            </div>
        </div>
        
        <div class="div-card">
            <h1>O gremista mais fiel</h1>
            <div>
                <img class="profile-image" src="https://pm1.aminoapps.com/8239/6a51670b2a120c6fc476d47de94c46a633445d66r1-637-618v2_hq.jpg" alt="zoro">
            </div>
        </div>
    </div>
    

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    
</body>
</html>